* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* nav and header styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    color: aliceblue;
    padding: 18px 35px;
}