* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* nav and header styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    color: aliceblue;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

#banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

#banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin: 20px;
}

#ban-discrip {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {

    margin-bottom: 30px;
    text-align: center;
}

.sec-dep {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-contain {
    display: flex;
    justify-content: space-around;
}

.about.info-title {
    font-size: 20px;
    color: #757575;

}

.info-des {
    font-size: 20px;
    color: #474747;
}

.what-t-do {
    margin-top: 130px;
    


}

.section-tit{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}
#do-des{
    margin-bottom: 50px;
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.skiss-contain {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    
}

.skill-title {
   
    color: #181818;
    /* text-align: center; */
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.skill-des {
    font-size: 16px;
    color: #757575;
}
.rsec-title{
    margin-top: 130px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}
